.ddp-main-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.ddp-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 300px;
    width: 300px;
}

.ddp-inner-col {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 16px; 
}

.ddp-inner-row {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    height: 100%;
    width: auto;
}